
@{
    Layout = "~/Views/Shared/_TaskManagerMasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>RegisteredTasks</title>
</head>
<body>
<div>
    <p>Задача зарегистрирована.</p>
    <p>
        
        @Html.ActionLink("Вернуться", "")
    </p>
</div>
</body>
</html>




